body{
    background-color: plum;
}

div{
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
h1{
   color: yellow;
   font: bold;
    font-size: 200%; 
}
img{
    border: 20px solid;
    border-color: yellow;
    width: 100%;
  
}
p
{
    font-size: 2rem;
    color: yellow;
}
#imp{
    color: black;
    font-size: 1rem;
}
